body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__logo {
  height: 63px;
  margin: 20px auto 31px;
  width: 250px;
}

.header__hamburguer {
  position: absolute;
  right: 32px;
  top: 38px;
}

.header__hero {
  background-image: url('./static/Image-hero.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 260px;
  position: relative;
  width: 100%;
}

.header__hero::after {
  background-color: #000;
  bottom: 0;
  color: #fff;
  content: 'free hearts, always free';
  font-size: 26px;
  height: 60px;
  line-height: 60px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}

.store {
  margin: 0 18px;
}

.store__header {
  display: flex;
  justify-content: space-between;
  padding: 41px 0;
}

.store__title {
  max-width: 50%;
  text-transform: uppercase;
}

.store__counter {
  align-self: center;
  font-size: 14px;
  max-width: 50%;
}

.card {
  box-shadow: 0 3px 2px 0 #e6e5e6;
  box-sizing: border-box;
  height: 380px;
  margin-bottom: 30px;
  width: 100%;
}

.card__image--container {
  align-items: center;
  background-color: #ececec;
  display: flex;
  height: 240px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.card__image--product {
  object-fit: contain;
  width: 310px;
}

.card__count {
  font-size: 26px;
  left: 18px;
  line-height: 26px;
  position: absolute;
  top: 17px;
}

.card__description--container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  font-size: 26px;
  height: 135px;
  justify-content: space-between;
  line-height: 26px;
  padding: 0 30px;
}

.card__description {
  text-transform: uppercase;
}

.card__title {
  margin: 0 auto 20px;
}

.card__price {
  margin: 0 auto;
}

.store__more {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.store__more:after {
  border: 5px solid #353535;
  content: ' ';
  display: block;
  margin: 10px auto 0;
  width: 75px;
}
