body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__logo {
  height: 63px;
  margin: 20px auto 31px;
  width: 250px;
}

.header__hamburguer {
  position: absolute;
  right: 32px;
  top: 38px;
}

.header__hero {
  background-image: url('./static/Image-hero.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 260px;
  position: relative;
  width: 100%;
}

.header__hero::after {
  background-color: #000;
  bottom: 0;
  color: #fff;
  content: 'free hearts, always free';
  font-size: 26px;
  height: 60px;
  line-height: 60px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}

.store__header {
  display: flex;
  justify-content: space-around;
}

.store__title {
  max-width: 50%;
}

.store__counter {
  align-self: center;
  max-width: 50%;
}

.card {
  width: 100%;
}

.card__image {
  object-fit: contain;
  width: 100%;
}
